@font-face {
    font-family: "TUI-reg";
    src: url("https://www.tui.ru/fonts/hinted-TUITypeCyrillic-Bold.woff") format("truetype");
    src: url("https://www.tui.ru/fonts/hinted-TUITypeCyrillic-Regular.woff") format("truetype");
    src: url("https://www.tui.ru/fonts/hinted-TUITypeCyrillicLight-Bold.woff") format("truetype");
    src: url("https://www.tui.ru/fonts/hinted-TUITypeCyrillicLight-Regular.woff") format("truetype");
    font-style: normal;
    font-weight: normal
}
.button-slider-left {
    width: 40px !important;
    height: 40px !important;
    color: #092a5e !important;
    background: #fff !important;
    border-radius: 50% !important;
    border: 0px !important;
    position: absolute !important;
    top: 140px !important;
    left: -30px !important;
    z-index: 3 !important;
    font-size: 20px !important;
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg) !important
}
.button-slider-right {
    width: 40px !important;
    height: 40px !important;
    color: #092a5e !important;
    background: #fff !important;
    border-radius: 50% !important;
    border: 0px !important;
    position: absolute !important;
    right: -30px !important;
    top: 140px !important;
    z-index: 3 !important;
    font-size: 20px !important
}
.slick-slider {
    line-height: 1 !important
}
.slick-slide {
    line-height: 1 !important
}
.tuiPremiumHomePage {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    scroll-behavior: smooth
}
.banner {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
    background: #c2e6fa
}
.banner__block {
    width: 100%;
    height: 400px;
    max-width: 1152px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: relative
}
.banner__image {
    width: 100%;
    position: absolute;
    top: 0;
    -o-object-fit: contain;
    object-fit: contain
}
.banner__info {
    z-index: 1;
    width: 70%;
    height: 100%;
    max-width: 800px
}
.banner__video {
    z-index: 1;
    width: 20%;
    height: 100%;
    max-width: 173px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: relative
}
.banner__background {
    width: 100%;
    position: absolute;
    bottom: 0
}
.banner__link {
    cursor: pointer;
    width: 100%;
    height: 173px
}
.banner__icon {
    width: 56px;
    position: absolute;
    bottom: 20px;
    right: 20px
}
.banner__logo {
    width: 308px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 76px
}
.banner__title {
    margin-left: 36px;
    margin-bottom: 30px;
    font-family: "TUI-reg" !important;
    font-size: 40px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #092a5e;
    text-transform: uppercase
}
.banner__button {
    border: 0px;
    background: #d40e14;
    width: 210px;
    height: 50px;
    padding: 14px;
    cursor: pointer;
    margin-left: 36px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "TUI-reg" !important;
    font-size: 20px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff
}
.banner__button:hover {
    color: #fff !important;
    text-decoration: none
}
.name {
    width: 100%;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 90px;
    padding-top: 90px
}
.name__title {
    width: 90%;
    margin-bottom: 20px;
    text-align: center;
    font-family: "TUI-reg" !important;
    color: #092a5e;
    font-size: 40px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal
}
.name__subtitle {
    width: 90%;
    text-align: center;
    font-family: "TUI-reg" !important;
    color: #092a5e;
    font-size: 25px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal
}
.advantages {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 90px
}
.advantages__title {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    font-family: "TUI-reg" !important;
    color: #092a5e;
    font-size: 30px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal
}
.advantages__slider {
    position: relative !important;
    width: 100%;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    padding-bottom: 30px !important
}
.advantages__slide {
    /*width: 370px !important;*/
    height: 380px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
    cursor: pointer !important;
    border-radius: 5px !important;
    border: solid 1px #dcdcdc !important;
    background-color: #fff !important
}
.advantages__image {
    width: 100% !important;
    margin-bottom: 20px !important;
    height: 203px !important
}
.advantages__name {
    width: 90%;
    margin-left: 20px;
    margin-bottom: 10px;
    font-family: "TUI-reg" !important;
    font-size: 20px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #092a5e
}
.advantages__text {
    width: 90%;
    margin-left: 20px;
    font-family: TUITypeCyrillic;
    font-size: 15px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #737373
}
.skidka {
    width: 100%;
    max-width: 1150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 5px;
    background-color: #fa7268;
    margin-bottom: 60px
}
.skidka__icon {
    width: 60px
}
.skidka__title {
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    font-family: TUITypeCyrillic
}
.skidka__title2 {
    display: none
}
.skidka__link {
    font-family: TUITypeCyrillic;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    border: solid 2px #ffffff
}
.country {
    width: 100%;
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 60px
}
.country__title {
    width: 100%;
    font-family: "TUI-reg" !important;
    font-size: 30px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #092a5e;
    margin-bottom: 10px
}
.country__subtitle {
    width: 100%;
    font-family: "TUI-reg" !important;
    font-size: 20px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #092a5e;
    margin-bottom: 60px
}
.tabs {
    width: 100%;
    height: 100%;
    max-width: 1152px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.tabs__names {
    width: 100%;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.tabs__item {
    cursor: pointer;
    width: 288px;
    height: 150px;
    position: relative;
    overflow: hidden
}
.tabs__poster {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    bottom: -10px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}
.tabs__text {
    width: 100%;
    height: 100%;
    position: relative;
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.4)));
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4))
}
.tabs__name {
    width: 100%;
    position: absolute;
    bottom: 15px;
    z-index: 2;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    font-family: "TUI-reg" !important;
    font-size: 20px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff
}
.tabs__name-active {
    border-bottom: 0px
}
.active-poster {
    bottom: 0px;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%)
}
.info {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: #f3f0ec
}
.info__block {
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}
.info__block-hotel {
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}
.info__select {
    display: none
}
.info__title {
    width: 80%;
    margin-top: 60px;
    margin-left: 50px;
    margin-bottom: 20px;
    font-family: "TUI-reg" !important;
    font-size: 25px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #092a5e
}
.info__button {
    cursor: pointer;
    width: 85%;
    margin-left: 50px;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 9px;
    padding-top: 9px;
    border-radius: 5px;
    border: 0px;
    background-color: #e7e3db;
    margin-bottom: 5px;
    font-family: "TUI-reg" !important;
    font-size: 20px;
    color: #092a5e;
    text-decoration: underline
}
.info__button-active {
    background: transparent;
    color: #8494ae;
    text-decoration: none
}
.info__privieleges {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #092a5e;
    font-family: "TUI-reg" !important;
    margin-bottom: 10px;
    margin-top: 10px;
    list-style-type: disc
}
.info__privielege {
    width: 90%;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    color: #092a5e;
    margin-left: 20px
}
.info__text {
    margin-left: 50px;
    margin-bottom: 42px;
    width: 84%;
    font-family: "TUI-reg" !important;
    font-size: 17px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #092a5e
}
.info__item {
    width: 85%;
    margin-left: 50px;
    margin-bottom: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}
.info__icon {
    width: 25px;
    margin-right: 15px
}
.info__note {
    font-family: "TUI-reg" !important;
    font-size: 17px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #092a5e
}
.info__footnote {
    margin-left: 40px;
    margin-bottom: 24px;
    width: 100%;
    font-family: "TUI-reg" !important;
    font-size: 15px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #737373
}
.ul-items-active {
    display: none
}
.hotels {
    width: 100%;
    max-width: 1152px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 100px
}
.hotels__title {
    display: none
}
.hotels__select {
    display: none
}
.hotels__names {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 29px
}
.hotels__class {
    cursor: pointer;
    text-decoration: none;
    background: #fff;
    font-family: "TUI-reg" !important;
    font-size: 20px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #092a5e;
    padding-bottom: 8px;
    border-bottom: 3px solid #092a5e;
    margin-right: 23px
}
.hotels__tiles {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 20px
}
.hotels__tile {
    z-index: 1;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 370px;
    height: 204px;
    position: relative;
    overflow: hidden
}
.hotels__image {
    z-index: -1;
    width: 100%;
    position: absolute;
    top: 0
}
.hotels__info {
    z-index: 2;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(transparent));
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent)
}
.hotels__city {
    z-index: 1;
    width: 80%;
    padding-left: 20px;
    font-family: "TUI-reg" !important;
    font-size: 15px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff
}
.hotels__name {
    padding-left: 20px;
    z-index: 1;
    width: 80%;
    font-family: "TUI-reg" !important;
    font-size: 20px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff
}
.hotels__information {
    padding-left: 20px;
    margin-bottom: 14px;
    width: 330px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.hotels__options {
    font-family: "TUI-reg" !important;
    font-size: 15px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #c2e6fa
}
.hotels__from {
    font-family: "TUI-reg" !important;
    font-size: 15px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff
}
.hotels__price {
    font-family: "TUI-reg" !important;
    font-size: 20px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff
}
.hotels__more {
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
    font-family: "TUI-reg" !important;
    font-size: 20px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #737373;
    background: #f3f0ec;
    border-radius: 2px;
    border: 1px solid #dcdcdc
}
.hotels-inactive {
    border: 0px;
    color: #8494ae
}
.information {
    width: 100%;
    height: 100%;
    background-color: #e2f3fe;
    padding-bottom: 60px;
    padding-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 180px
}
.information__block {
    width: 100%;
    max-width: 1152px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.information__image {
    width: 20%;
    margin-left: 90px;
    margin-right: 90px
}
.information__info {
    width: 80%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}
.information__title {
    width: 100%;
    font-family: "TUI-reg" !important;
    font-size: 30px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #092a5e;
    margin-bottom: 10px
}
.information__text {
    width: 100%;
    font-family: "TUI-reg" !important;
    font-size: 20px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #092a5e
}
.vip {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.vip__title {
    width: 100%;
    max-width: 1152px;
    font-family: "TUI-reg" !important;
    font-size: 30px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #092a5e;
    margin-bottom: 30px
}
.vip__select {
    display: none
}
.vip__tabs {
    width: 100%;
    max-width: 1152px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: solid 2px #70cbf4;
    margin-bottom: 60px
}
.vip__tab {
    margin-right: 20px;
    padding-bottom: 10px;
    padding-top: 12px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "TUI-reg" !important;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #092a5e;
    background: #fff;
    border-radius: 2px;
    border: solid 2px #dcdcdc;
    border-bottom: 0px
}
.vip__info {
    width: 100%;
    max-width: 1152px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 90px
}
.vip__image {
    width: 30%
}
.vip__information {
    width: 65%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}
.vip__name {
    width: 92%;
    font-family: "TUI-reg" !important;
    font-size: 25px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #092a5e;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 30px
}
.vip__text {
    width: 92%;
    margin-left: 40px;
    margin-bottom: 20px;
    font-family: "TUI-reg" !important;
    font-size: 20px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #092a5e
}
.vip__spisok {
    width: 92%;
    margin-left: 40px;
    margin-bottom: 20px;
    list-style-type: disc
}
.vip__about {
    font-family: "TUI-reg" !important;
    font-size: 20px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #092a5e;
    margin-bottom: 10px
}
.vip__spisok-item {
    margin-left: 20px;
    font-family: "TUI-reg" !important;
    font-size: 20px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #092a5e
}
.vip__footnote {
    width: 92%;
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 17px;
    font-family: "TUI-reg" !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #737373
}
.vip__button {
    cursor: pointer;
    border: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 14px;
    padding-top: 14px;
    width: 204px;
    border-radius: 2px;
    background: #ffe100;
    font-family: "TUI-reg" !important;
    font-size: 20px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #092a5e;
    margin-left: 40px
}
.active-tab {
    color: #1896cf;
    border: solid 2px #70cbf4;
    border-bottom: 0px
}
.afisha {
    width: 100%;
    max-width: 1150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 90px
}
.afisha__title {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    font-family: "TUI-reg" !important;
    color: #092a5e;
    font-size: 30px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal
}
.afisha__slider {
    position: relative;
    max-width: 1152;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.afisha__slide {
    /*width: 273px;*/
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}
.afisha__img {
    width: 100%;
    margin-bottom: 20px
}
.afisha__info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start
}
.afisha__name {
    width: 100%;
    font-family: "TUI-reg" !important;
    font-size: 20px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #092a5e;
    margin-bottom: 5px
}
.afisha__city {
    width: 100%;
    font-family: "TUI-reg" !important;
    font-size: 15px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #092a5e;
    margin-bottom: 10px
}
.afisha__date {
    width: 100%;
    font-family: "TUI-reg" !important;
    font-size: 15px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #737373
}
.form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 90px
}
.form__title {
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    font-family: "TUI-reg" !important;
    color: #092a5e;
    font-size: 30px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal
}
.form__subtitle {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    font-family: "TUI-reg" !important;
    color: #092a5e;
    font-size: 20px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal
}
.form__fields {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.form__input {
    border: 0px;
    width: 270px;
    font-family: "TUI-reg" !important;
    font-size: 17px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #b9b9b9;
    margin-right: 10px;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 20px;
    border-radius: 2px;
    background-color: #f3f0ec
}
.form__button {
    border: 0px;
    width: 200px;
    padding-bottom: 14px;
    padding-top: 14px;
    text-shadow: 0 0.5px 0 #fdea5f;
    font-family: "TUI-reg" !important;
    font-size: 20px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #092a5e;
    background: #ffe100
}
.form__link {
    cursor: pointer;
    width: 40%;
    margin-bottom: 30px;
    text-align: center;
    font-family: "TUI-reg" !important;
    color: #092a5e;
    font-size: 30px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-decoration: none
}
.todo {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 90px
}
.todo__title {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
    font-family: "TUI-reg" !important;
    color: #092a5e;
    font-size: 30px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal
}
.todo__slider {
    width: 80%;
    position: relative !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 90px !important;
    border-radius: 5px !important
}
.todo__slide {
    /*width: 370px !important;*/
    margin-left: 10px !important;
    margin-right: 10px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
    border: solid 1px #dcdcdc !important;
    background-color: #fff !important;
    border-radius: 5px !important
}
.todo__image {
    width: 100% !important;
    margin-bottom: 20px !important;
    height: 203px !important
}
.todo__name {
    margin-left: 20px;
    font-family: "TUI-reg" !important;
    font-size: 20px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #092a5e;
    margin-bottom: 5px
}
.todo__text {
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: "TUI-reg" !important;
    font-size: 15px !important;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #737373
}
.video-youtube-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 60px;
    padding-top: 60px;
    background: #c2e6fa
}
.video-youtube-block__title {
    width: 100%;
    font-family: "TUI-reg" !important;
    font-size: 30px !important;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #092a5e;
    margin-bottom: 30px
}
.video-youtube-block__examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;todo__slide
flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 1000px;
    height: 500px
}
.youtube {
    background-position: center
}
.display-none {
    display: none
}

/*# sourceMappingURL=desktop.css.map */